<div class="jumbotron text-center">
<h1>Claim new Sequence</h1>
</div>
	    
<div class="container">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8" id="area">
			<div class="alert alert-danger fade in"  data-ng-show="error">
				<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
				<p class="text-center">{{error}}</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<form class="form-horizontal" role="form" id="sequence" name="myForm" data-ng-submit="addSequence(user.username, purpose)">
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2 well" for="sequence">Sequence is</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="sequence" disabled="disabled" value="{{number | numberFixedLength:5}}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2 well" for="user">By user</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="user" disabled="disabled" data-ng-model="user.username" value="user.username"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2 well" for="purpose">Purpose...</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="purpose" required="required" data-minlength="1" title="Description must have a minimum length of one character!" data-ng-model="purpose"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-2">
						<input type="button" class="btn btn-danger btn-lg pull-left" data-ng-click="cancel()" value="Cancel"/>
					</div>
					<div class="col-sm-8">
						<input type="submit" class="btn btn-success btn-lg pull-right" value="Claim!"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
