<div class="jumbotron text-center">
	<h1>Generated Sequences</h1>
</div>
	    
<div class="container">
	<div class="row">
		
		<div class="col-sm-2">
	   		<button type="button" class="btn btn-primary" data-ng-click="newSequence()">Claim New</button>
	   	</div>
	   	

	   	<div class="col-sm-offset-7 col-sm-3">
			<form role="search" data-ng-submit="search(filter, (sequences | filter:filter).length)">
				<div class="form-group input-group">
					<input type="text" class="form-control" name="filter" placeholder="Enter user / purpose / date" data-ng-model="filter" data-ng-minlength="3" autocomplete="off"/>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Go!</button>
				    </span>
				</div>
			</form>
		</div>
	</div>	
				
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-hover" id="table">
		   		<thead>
			   		<tr>
			   			<th><a href="" data-ng-click="orderByField = 'sequence'; reverseSort = !reverseSort">NO.</a></th>
			   			<th><a href="" data-ng-click="orderByField = 'account.username'; reverseSort = !reverseSort">Submitted By</a></th>
			   			<th><a href="" data-ng-click="orderByField = 'purpose'; reverseSort = !reverseSort">Purpose</a></th>
			   			<th><a href="" data-ng-click="orderByField = 'date'; reverseSort = !reverseSort">Date</a></th>
			   		</tr>
		   		</thead>
		   		<tbody>
			   		<tr data-ng-repeat="sequence in sequences | filter:searchFilter | orderBy:orderByField:reverseSort | pagination:currentPage*pageSize | limitTo:pageSize">
			   			<td><a href="" data-toggle="modal" data-target="#mySequence" data-ng-click="readSequence(sequence.sequence)">{{sequence.sequence | numberFixedLength:5}}</a></td>
			   			<td>{{sequence.account.username}}</td>
			   			<td>{{sequence.purpose | limitTo:30}}</td>
			   			<td>{{sequence.date}}</td>
			   		</tr>
			   		<tr data-ng-if="(sequences | filter:searchFilter).length==0"><td colspan=4>Currently there are no documents to display.</td></tr>
		   		</tbody>
		   	</table>
		</div>
	</div>
		
	<div class="row">
    	<div class="col-sm-offset-9 col-sm-3">
	
			<ul class="pagination pull-right">
				<li>
					<span class="label label-default">Page {{currentPage + 1}}/{{numberOfPages}}</span>
				</li>
				<li>
					<button type="button" class="btn btn-default"data-ng-disabled="currentPage == 0" data-ng-click="currentPage = currentPage - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
				</li>
				<li>
					<button type="button" class="btn btn-default" data-ng-disabled="currentPage >= (sequences | filter:searchFilter).length / pageSize - 1" data-ng-click="currentPage = currentPage+1"><span class="glyphicon glyphicon-arrow-right"></span></button>
				</li>
			</ul>
				
        </div>
    </div>
		
	<div id="mySequence" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title text-center">Document details</h1>
				</div> 
						
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-offset-1 col-sm-2 well" for="sequence">Sequence is</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="sequence" disabled="disabled" value="{{sequence.sequence | numberFixedLength:5}}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-offset-1 col-sm-2 well" for="user">By user</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="user" disabled="disabled" data-ng-model="sequence.account.username" value="sequence.account.username"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-offset-1 col-sm-2 well" for="date">Date created</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="date" disabled="disabled" data-ng-model="sequence.date" value="sequence.date"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-offset-1 col-sm-2 well" for="purpose">Purpose...</label>
							 <div class="col-sm-8">
							 	<input type="text" class="form-control" name="purpose" disabled="disabled" data-ng-model="sequence.purpose" value="sequence.purpose"/>
							 </div>
						</div>
					</form>
				</div>
						
				<div class="modal-footer">        	
					<button type="button" class="btn btn-success btn-lg pull-right" data-dismiss="modal">OK <span class="glyphicon glyphicon-ok"></span></button>
				</div>

			</div>
		</div>
	</div>
			
</div>