.jumbotron {
	background-color: transparent !important;
}

div {
	font-family: cursive;
}

.label {
	font-size: 100% !important;
}

#label {
	margin-top: 15px;
}

h1 {
	color: navy !important;
}

.well {
	padding: 12px !important;
	text-align: center !important;
	background-color: navy !important;
	color: white;
	margin-left: 14px;
}

.table {
	text-align: center;
}

.table th {
	text-align: center;
}

#mySequence .form-control {
	margin: 7px 0px 14px 7px;
}

.pagination {
	margin: 0px !important;
}

.pagination li {
	margin-left: 8px;
}

.pagination .label {
	background-color: grey !important;
	color: white !important;
}

#sequence .form-control {
	margin: 7px 0px 14px 0px;
}

#area {
	min-height: 72px;
}
