.label {
	display: block !important;
	min-width: 97.5px;
	font-size: 100% !important;
	padding: 0.3em !important;
	margin-bottom: 12px;
}

.jumbotron {
	background-color: transparent !important;
	color: navy !important;
}

div {
	font-family: cursive;
}

#area {
	min-height: 72px;
}

label {
	margin-bottom: 12px;
}


