<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    
	<body>
	
		<div class="navbar navbar-default" th:fragment="header">
			<div class="container">
			
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>		
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li id="label"><label class="label label-default">Hello, <span th:text="${#httpServletRequest.RemoteUser}">user</span></label></li>
						<li><a href="/logout" th:href="@{/logout}">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		
	</body>
	
</html>


